@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-link px-lg-3 py-3 py-lg-4" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link px-lg-3 py-3 py-lg-4" })
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link px-lg-3 py-3 py-lg-4">Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a href="/Account/Register" class="nav-link px-lg-3 py-3 py-lg-4">Register</a>
        </li>
        <li class="nav-item">
            <a href="/Account/Login" class="nav-link px-lg-3 py-3 py-lg-4">Login</a>
        </li>
    </ul>
}